[submodule "bundle/vim-pathogen.git"]
	path = bundle/vim-pathogen.git
	url = https://github.com/tpope/vim-pathogen.git
[submodule "bundle/vim-fugitive"]
	path = bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule "bundle/vim-airline"]
	path = bundle/vim-airline
	url = https://github.com/vim-airline/vim-airline
[submodule "bundle/vim-airline-themes"]
	path = bundle/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes
[submodule "bundle/vim-devicons"]
	path = bundle/vim-devicons
	url = https://github.com/ryanoasis/vim-devicons
[submodule "bundle/vim-startify"]
	path = bundle/vim-startify
	url = https://github.com/mhinz/vim-startify
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/preservim/nerdtree
[submodule "bundle/tokyonight-vim"]
	path = bundle/tokyonight-vim
	url = https://github.com/ghifarit53/tokyonight-vim
[submodule "bundle/nord-vim"]
	path = bundle/nord-vim
	url = https://github.com/nordtheme/vim
[submodule "bundle/catppuccin-vim"]
	path = bundle/catppuccin-vim
	url = https://github.com/catppuccin/vim
